xn-intenton-z2a:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_jDmxN4QYedWGvBwZVawnB9Fvx22tYH2KYbIY
always-auth=true
xn-intenton-z2a:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_iQGfWoGnPoBq9ZwzxHFbyQKgIAcqOp01WnEf
always-auth=true
xn-intenton-z2a:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_PePawMDT3Jf6Bn8r5y120ZbEGJtDSE0ozQ2O
always-auth=true
xn-intenton-z2a:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_aVmyBg0WgBXch8U1Uz6HZ7GC7RVPMX1j16YP
always-auth=true
xn-intenton-z2a:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_I0NyyxZii8aLdwqed0Jvg0SPkIXg0Q25KHK7
always-auth=true
